@model DetailsViewModel


<div class="container text-center">
	<div class="row text-start mb-5">
		<h3 class="my-3">@Model.Item.Name</h3>
		<p></p>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="detail-thumb">
				<img src="@Model.Item.Img" />
			</div>
		</div>
		<div class="col-md-4">
			<div class="detail-pricetag shadow text-start">
				<div class="mb-2">
					<h5 class="my-3">@String.Format($"Цена: {Model.Item.Price} руб.")</h5>
					@if (Model.Item.Avaliable)
					{
						<p class="text-success">&#10003; В наличии</p>
						<a class="btn btn-sm btn-outline-secondary" asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@Model.Item.Id">В корзину</a>
					}
					else
					{
						<p class="text-danger">Нет в наличии</p>
					}
				</div>

				@if (User.IsInRole("user"))
				{
					@if (!Model.IsFavourite)
					{
						<form method="post" asp-area="" asp-controller="FoodItems" asp-action="AddToFavourites" asp-route-id="@Model.Item.Id">
							<button class="btn btn-sm btn-outline-danger">Добавить в избранное</button>
						</form>
					}
					else
					{
						<form method="post" asp-area="" asp-controller="FoodItems" asp-action="RemoveFromFavourites" asp-route-id="@Model.Item.Id">
							<button class="btn btn-sm btn-danger">Убрать из избранного</button>
						</form>
					}
				}

			</div>
		</div>
	</div>
</div>
